.modal.fade{ role: "dialog", id: "artist-" + artist.id.to_s }
  = simple_form_for artist, url: artist_path(artist), :html => {:method => :put, :multipart => true, :class => 'form-horizontal' } do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h4 Edit Artist
        .modal-body
          .form-group
            = f.label :name, class: "col-sm-3"
            .col-sm-8
              = f.input_field :name, class: "form-control"
          .form-group
            = f.label :email, class: "col-sm-3"
            .col-sm-8
              = f.input_field :email, class: "form-control"
          .form-group
            = f.label :price, class: "col-sm-3"
            .col-sm-8
              = f.input_field :price, class: "form-control"

          .form-group
            = f.label :tech_rider, class: "col-sm-3"
            .col-sm-8
              = f.file_field :tech_rider, class: "form-control"
          .form-group
            = f.label :contract_rider, class: "col-sm-3"
            .col-sm-8
              = f.file_field :contract_rider, class: "form-control"
          .form-group
            = f.label :poster, class: "col-sm-3"
            .col-sm-8
              = f.file_field :poster, class: "form-control"

          .form-group
            = f.label :picture, class: "col-sm-3"
            .col-sm-8
              = f.file_field :picture, class: "form-control"

          .form-group
            = f.label :w9, class: "col-sm-3"
            .col-sm-8
              = f.file_field :w9, class: "form-control"
          .form-group
            = f.label :resume, class: "col-sm-3"
            .col-sm-8
              = f.file_field :resume, class: "form-control"

        .modal-footer
          = f.submit "Update", :class => "btn btn-primary"
          %a.btn.btn-default{"data-dismiss" => "modal", href: "#"} Cancel