.widget.stacked
  .widget-header
    %h3
      Artists
  .widget-content.min-height-200
    .img-thumbnail.col-md-12
      .col-md-6.text-right.pull-right
        = link_to "New Artist", "#add-artist", class: "btn btn-default", data: { toggle: "modal" }
      .col-md-4.text-right.pull-right
        = form_for :event, url: artists_path, html: { class: "form-inline" } do |f|
          .col-md-8
            = f.text_field :name, class: "form-control", placeholder: "Artist Name"
          .col-md-4
            %button.btn.btn-default{type: "submit"} Search
      = render partial: "create"

    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Pricing
            %th Registered Date
            %th
        %tbody
          - @artists.each do |artist|
            %tr
              %td
                = artist.name
              %td
                = artist.price
              %td
                = artist.created_at.to_date
              %td= link_to "Remove", "#", class: "btn btn-primary btn-sm"
      = will_paginate @artists, previous_label: "&laquo;", next_label: "&raquo;"