.widget.stacked
  .widget-header
    %h3
      Events
  .widget-content.min-height-200
    .img-thumbnail.col-xs-12
      = form_for :schedule, url: schedules_path, html: { method: :get, class: "form-inline"} do |f|
        .row
          .col-xs-12.col-sm-8.pull-right
            .col-xs-4.text-right{style: "margin-top: 5px;"}
              = label_tag :artist, "Artist"
            .col-xs-4
              = select_tag :artist, options_from_collection_for_select(Artist.all, "id", "name", params[:artist]), { :prompt => "View All", class: "form-control" }
            .col-xs-4
              %button.btn.btn-default{type: "submit"} Search

    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Date
            %th Show Time
            %th School
            %th Artist
            %th Status
            %th Contact Sent?
            %th
        %tbody
          - @events.each do |event|
            %tr
              %td
                = event.created_at.to_date
              %td
                = event.show_time
              %td
                = event.school_name
              %td
                = event.artist.name
              %td
                = event.status
              %td
                - if event.contract_file_name.nil?
                  Not Sent
                - else
                  = link_to "Sent", event.contract.url
              %td
                = link_to "<i class='icon-calendar'></i> Schedule".html_safe, edit_schedule_path(event), class: "btn btn-default btn-sm"
      = will_paginate @events, previous_label: "&laquo;", next_label: "&raquo;"
