.widget.stacked
  .widget-header
    %h3
      Events
  .widget-content.min-height-200
    .img-thumbnail.col-xs-12
      .row
        = form_for :query, url: events_path, html: { method: :get } do |f|
          .col-xs-8
            .col-xs-4.text-right
              = select_tag :artist, options_from_collection_for_select(@artists, "id", "name"), { :prompt => "View All", class: "form-control" }
            .col-xs-4.text-right
              = select_tag :date, options_for_select(["View Pasts", "View Upcomings"].map.with_index{|m, i|[m, i]}), { :prompt => "View All", class: "form-control" }
            .col-xs-4
              %button.btn.btn-default{type: "submit"} Search
          .col-xs-4.text-right.inline
            = link_to "Create", "#add-event", class: "btn btn-primary", data: { toggle: "modal" }

      = render partial: "create"

    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Date
            %th Show Time
            %th School
            %th Artist
            %th Status
            %th Contact Sent?
            %th.action-field
        %tbody
          - @events.each do |event|
            %tr
              %td
                = link_to "View Detail", event_path(event)
              %td
                = event.created_at.to_date
              %td
                = event.show_time
              %td
                = event.school_name
              %td
                = link_to event.artist.name, artist_path(event.artist)
              %td
                = event.status
              %td
                - if event.contract_file_name.nil?
                  Not Sent
                - else
                  = link_to "Sent", event.contract.url
              %td
                = link_to "<i class='icon-edit'></i> Edit".html_safe, "#event-#{event.id}", class: "btn btn-default btn-sm", data: { toggle: "modal" }
                = render partial: "modify", locals: {event: event}
                = link_to "<i class='icon-remove'></i> Remove".html_safe, event_path(event), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default btn-sm"
      = will_paginate @events, previous_label: "&laquo;", next_label: "&raquo;"
